<div id="container_p">
  <div class="notice">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible show fade">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert">
          <span>&times;</span>
        </button>
      </div>
    <% end %>
  </div> 
  <div class="d-flex justify-content-around row">
    <div class="col-11 col-sm-8 col-md-6">
      <h2 style="text-align: center; padding: 20px">Modification du voyage</h2>

      <%= form_with(model: @travel, url: travel_path(@travel), local: true, method: :patch) do |form| %>
        <form>
          <div class="form-group">
            <%= form.label :date %></br>
            <%= form.date_field :date, class:"input"  %>
          </div>

          <div class="form-group">
            <%= form.label :heure %></br>
            <%= form.time_field :time, class:"input"  %>
          </div>

          <div class="form-group">
            <%= form.label :durée %></br>
            <%= form.number_field :duration, class:"input"  %>
          </div>

          <div class="form-group">
            <%= form.label :station_de_départ %></br>
            <%= form.collection_select :starting_station_id, Station.all, :id, :name, class:"input"  %>
          </div>

          <div class="form-group">
            <%= form.label :'station d\'arrivée' %></br>
            <%= form.collection_select :destination_station_id, Station.all, :id, :name, class:"input"  %>
          </div>

          <div class="actions">
            <%= form.submit "Modifier", class:"btn btn-outline-dark" %>
          </div>
        </form>
      <% end %>
      <div class="py-3"><%= link_to "Retour", travels_path, id: "back", class:"btn btn-dark" %></div>
    </div>
  </div>
</div>
