<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="container-sm justify-content-around">
<div style="text-align: center; padding-top: 20px;"><h1>Travels Index Page</h1></div>
<div style="display: flex; justify-content: center;">
<%= search_form_for @q, url: travels_path, class:"form-inline my-2 my-lg-0" do |f| %>
  <%= f.search_field :starting_station_city_or_destination_station_city_cont, class:"form-control mr-sm-2", placeholder:"City" %>
  <%= f.date_field :date_eq, class:"form-control mr-sm-2"%>
  <%= f.submit "Search", class:"btn btn-outline-primary my-2 my-sm-0" %>
<% end %>
</div>
<div class="container" >
    <div class="row d-flex justify-content-around">
      
    <% @travels.each do |travel| %>
      <div class="col-md-3 shadow p-3 mb-5 bg-white rounded">
      <div class="d-flex justify-content-around">
        <%= travel.starting_station.city %>
        <%= travel.destination_station.city %>
      </div>
      <div class="d-flex justify-content-around">  
        <%= travel.formatted_date %>
        <%= travel.formatted_time %>
      </div>
      <div class="d-flex justify-content-around">  
        <%= travel.formatted_duration %>
        <%= button_to 'Book Travel', new_booking_path, method: :get, params: { travel_id: travel.id }, id: 'booking-button', class:"btn btn-primary" %>
      </div>
      </div>  
    <% end %>
    
    </div>
</div>
<div style="display: flex; justify-content: center;"><%= paginate @travels %></div>
</div>