<div id="container_p">
   <div class="notice">
      <% if flash[:notice] %>
         <div class="alert alert-success alert-dismissible show fade">
            <%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert">
               <span>&times;</span>
            </button>
         </div>
      <% end %>
   </div>  
   <div style="text-align: center; padding-top: 40px;"><h1>Liste des voyages</h1></div>
   <div class="row d-flex justify-content-center mx-sm-2" >
      <%= search_form_for @q, url: travels_path, class:"form-inline my-2 my-lg-0" do |f| %>
         <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <%= f.collection_select :starting_station_id_eq, Station.all, :id, :name, { prompt: "Départ" }, class: "form-control mr-5 my-1" %>
         </div>
         <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <%= f.collection_select :destination_station_id_eq, Station.all, :id, :name, { prompt: "Arrivée" }, class: "form-control mr-5 my-1" %>
         </div>
         <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <%= f.collection_select :date_eq, @available_dates, :date, :formatted_date, { prompt: "Date" }, class: "form-control mr-5 my-1" %>
         </div>
         <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <%= f.submit "Rechercher", class:"btn btn-outline-dark my-1 my-sm-1 my-md-1" %>
         </div>   
      <% end %>
   </div>
   <div class="container" >
      <div class="row">
         <% @travels.each do |travel| %>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 my-3">
               <section class="card bg-light text-dark">
                  <div class="card-body">
                     <p class="d-flex justify-content-around"><%= travel.starting_station.city %> <i class="bi bi-bus-front"></i> <%= travel.destination_station.city %></p>
                     <p class="d-flex justify-content-around">Départ prévu le <%= travel.formatted_date %> à <%= travel.formatted_time %></p>
                     <span class="d-flex justify-content-around"> 
                        <% if current_user.admin? %>
                           <%= button_to 'Modifier', edit_travel_path(travel), method: :get, class:"btn btn-outline-dark" %>
                           <%= button_to 'Détails', travel_path(travel), method: :get, class:"btn btn-outline-dark" %>
                           <%= button_to 'Supprimer', travel_path(travel), method: :delete, data: {confirm: "Are you sure?" }, class:"btn btn-dark" %>
                        <% else %>   
                           <%= button_to 'Détails', travel_path(travel), method: :get, class:"btn btn-outline-dark" %>
                           <%= button_to 'Réserver', new_booking_path, method: :get, params: { travel_id: travel.id }, class:"btn btn-outline-dark" %>
                        <% end %>   
                     </span>
                  </div>
               </section>
            </div>
         <% end %>
      </div>
   </div>
   <div class="d-flex justify-content-center"><%= paginate @travels %></div>
</div>
         