<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Show Travel Page</h1>

<p><%= @travel.starting_station.city %></p>
<p><%= @travel.destination_station.city %></p>
<p><%= @travel.date %></p>
<p><%= @travel.time %></p>
<p><%= @travel.duration %></p>

<%= link_to 'Book', edit_travel_path(@travel), id: "edit-travel" %> |
<%= link_to 'Back', travels_path, id: "back" %>