<div class="container">
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Show Travel Page</h1>

<p><%= @travel.starting_station.city %></p>
<p><%= @travel.destination_station.city %></p>
<p><%= @travel.formatted_date %></p>
<p><%= @travel.formatted_time %></p>
<p><%= @travel.formatted_duration %></p>

<%= button_to 'Edit', edit_travel_path(@travel), method: :get, class:"btn btn-primary" %></br>
<%= button_to 'Delete', travel_path(@travel), method: :delete, data: {confirm: "Are you sure?" }, class:"btn btn-danger" %>
<%= link_to 'Back', travels_path, id: "back" %>
</div>