<div id="container_p">
   <div class="notice">
      <% if flash[:notice] %>
         <div class="alert alert-success alert-dismissible show fade">
            <%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert">
               <span>&times;</span>
            </button>
         </div>
      <% end %>
   </div> 
   <div class="d-flex justify-content-around row">
      <div class="col-11 col-sm-8 col-md-6">
         <h2 style="text-align: center; padding: 40px">Détails du voyage</h2>
         <div class="border border-dark rounded bg-light">
            <div class='d-flex justify-content-around' style="font-size: 26px">
               <span><%= @travel.starting_station.city %></span>
               <i class="bi bi-bus-front"></i>
               <span><%= @travel.destination_station.city %></span>
            </div>
            <span class="d-flex justify-content-center"><p style="font-size:20px">Départ prévu le <%= @travel.formatted_date %></p></span>
            <span class="d-flex justify-content-center"><p style="font-size:20px">A <%= @travel.formatted_time %></p></span>
            <span class="d-flex justify-content-center"><p style="font-size:20px">Pour une durée de <%= @travel.formatted_duration %></p></span>
         </div>
         <div class="d-flex justify-content-center pt-3">
            <% if current_user.admin? %> 
               <%= button_to 'Edit', edit_travel_path(@travel), method: :get, class:"btn btn-outline-dark", style:"margin-right:20px" %>
               <%= button_to 'Delete', travel_path(@travel), method: :delete, data: {confirm: "Are you sure?" }, class:"btn btn-dark" %>
            <% else %>
               <%= button_to 'Book Travel', new_booking_path, method: :get, params: { travel_id: @travel.id }, class:"btn btn-outline-dark" %>
            <% end %>
         </div>
         <div class="d-flex justify-content-center py-3"><%= link_to 'Back', travels_path, id: "back", class:"btn btn-dark" %></div>
      </div>
   </div>
</div>
