<h1>Mes réservations</h1>

<% @bookings.each do |booking| %>
  <% if booking.travel.date < Date.today %>
  <table>
  <thead>
    <tr>
      <th>Starting</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Departure</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= booking.travel.starting_station.city %></td>
      <td><%= booking.travel.destination_station.city %></td>
      <td><%= booking.travel.formatted_date %></td>
      <td><%= booking.travel.formatted_time %></td>
      <td><%= booking.travel.formatted_duration %></td>
      <td><%= link_to "Détails", booking_path(booking.confirmation)%></td>
    </tr>
  </tbody>
</table>
<% end %>
<% end %>