<input type="hidden" id="latitude" value="<%= @travel.starting_station.latitude %>">
<input type="hidden" id="longitude" value="<%= @travel.starting_station.longitude %>">
<input type="hidden" id="latitude2" value="<%= @travel.destination_station.latitude %>">
<input type="hidden" id="longitude2" value="<%= @travel.destination_station.longitude %>">

<div class="container-sm">
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div style="text-align: center; padding-top: 40px"><h3>Complete Booking</h3></div>
<div class="d-flex justify-content-center">
<table class="table">
  <thead class="table-primary">
    <tr>
      <th>Starting</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Departure</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @travel.starting_station.city %></td>
      <td><%= @travel.destination_station.city %></td>
      <td><%= @travel.formatted_date %></td>
      <td><%= @travel.formatted_time %></td>
      <td><%= @travel.formatted_duration %></td>
    </tr>
  </tbody>
</table>
</div>
<div class="d-flex align-items-center flex-column">

<div id="map"></div>
  <%= form_with(model: @booking, local: true) do |form| %>
    <%= form.hidden_field :travel_id, value: @travel.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div id='confirmation-buttons'>
      <%= link_to 'Cancel', travels_path, class:"btn btn-secondary",id: 'cancel-booking' %>
      <%= form.submit 'Confirm', class:"btn btn-primary", id: 'book-travel' %>
    </div>
  <% end %>
  </div>
  </div>