<div class="container-sm"
<div class="d-flex justify-content-center" style="padding-top: 40px;">
<table class="table">
  <thead class="table-primary">
    <tr>
      <th>Starting</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Departure</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @booking.travel.starting_station.city %></td>
      <td><%= @booking.travel.destination_station.city %></td>
      <td><%= @booking.travel.formatted_date %></td>
      <td><%= @booking.travel.formatted_time %></td>
      <td><%= @booking.travel.formatted_duration %></td>
    </tr>
  </tbody>
</table>
</div>
<h3 id='confirmation-display' class="d-flex justify-content-center">Confirmation Number: <%= @booking.confirmation %></h3>

<div class='ticket-container'>
  <% @booking.users.each do |user| %>
    <div class='ticket'>
      <div class='logo-main logo ticket-item'>
        <ion-icon name="airplane-sharp", id='airplane-ticket-logo'></ion-icon>
        <span>BusLink</span>
      </div>
      <div class='boarding-pass-main ticket-item'>Boarding Pass</div>
      <div class='logo-stub logo ticket-item'>
        <ion-icon name="airplane-sharp", id='airplane-ticket-logo'></ion-icon>
        <span>BusLink</span>
      </div>
      <div class='itinerary-main ticket-item'>
        <span><%= @booking.travel.starting_station.code %></span>
        <ion-icon name="airplane-sharp", id='airplane-direction'></ion-icon>
        <span><%= @booking.travel.destination_station.code %></span>
      </div>
      <div class='passenger-stub ticket-item'>
        <div class='ticket-header'>Passenger</div>
        <div><%= @booking.users.name %></div>
      </div>
      <div class='origin-stub ticket-item'>
        <div class='ticket-header'>Origin</div>
        <div><%= @booking.travel.starting_station.code %></div>
      </div>
      <div class='destination-stub ticket-item stub-right'>
        <div class='ticket-header'>Destination</div>
        <div><%= @booking.travel.destination_station.code %></div>
      </div>
      <div class='passenger-main ticket-item'>
        <div class='ticket-header'>Passenger</div>
        <div><%= current_user.name %></div>
      </div>
      <div class='departure-main ticket-item'>
        <div class='ticket-header'>Departure</div>
        <div><%= @booking.travel.formatted_time %></div>
      </div>
      <div class='departure-stub ticket-item stub-right'>
        <div class='ticket-header'>Departure</div>
        <div><%= @booking.travel.formatted_time %></div>
      </div>
    </div>
  <% end %>
</div>
<div class="container d-flex justify-content-center ">
<div class="card">
    <div class="card-body">
      <h2 class="card-title">BusLink</h2>
      <h3>Boarding Pass</h3>
      <div>
        <p>Name: <%= current_user.name %></p>
      </div>
    </div>
</div>
</div>
</div>